.intro_panther {
  background-color: #ffffff !important;
  height: inherit;
  padding-top: 5rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .intro_panther .intro_parent_style {
    padding-top: 15rem;
    padding-bottom: 15rem; }
  .intro_panther .home_intro_name {
    font-family: 'Josefin Slab', serif !important; }

.P_height {
  height: inherit; }

.portfolio_panther {
  background-color: #000000;
  height: inherit;
  margin-bottom: auto;
  margin-top: auto; }
  .portfolio_panther .intro_space_style {
    margin-top: 4rem;
    font-family: 'Josefin Slab', serif; }
  .portfolio_panther .portfolio_paw_row_container {
    padding-top: 12rem;
    padding-bottom: 12rem; }
    .portfolio_panther .portfolio_paw_row_container .interactive_hover_style {
      background-color: #ffffff;
      opacity: 1; }
    .portfolio_panther .portfolio_paw_row_container .interactive_hover_style:hover {
      background-color: #ffffff;
      opacity: 0.9; }
  .portfolio_panther .portfolio_paws {
    height: 20rem; }

.Intro_heart_shape {
  background-color: #ffffff !important;
  height: inherit;
  margin-top: 4rem; }
  .Intro_heart_shape .jumbotron {
    background-color: #ffffff !important;
    height: inherit; }
    .Intro_heart_shape .jumbotron .home_intro_name {
      font-family: 'Josefin Slab', serif !important; }
    .Intro_heart_shape .jumbotron .camera_ready_style {
      margin-top: 8rem; }
    .Intro_heart_shape .jumbotron .about_intro_panther {
      margin-top: 4rem; }
    .Intro_heart_shape .jumbotron .panther_about_intro_style {
      margin-top: 7rem;
      margin-bottom: 7rem; }
      .Intro_heart_shape .jumbotron .panther_about_intro_style .about_cta_style {
        border-radius: 0px;
        margin-top: 1rem; }
        .Intro_heart_shape .jumbotron .panther_about_intro_style .about_cta_style .about_cta_style_btn {
          border-radius: 0px; }
  .Intro_heart_shape .profile-img {
    width: 20rem;
    z-index: 9000;
    border-bottom: 8px solid #333;
    z-index: 40000; }

.back-option {
  margin-bottom: 3rem; }

.btn-back-style {
  color: #ffffff; }
  .btn-back-style .btn-back-style:hover {
    color: #333; }

.Intro_heart_shape_about {
  background-color: #ffffff !important;
  height: inherit; }
  .Intro_heart_shape_about .parallax {
    /* The image used */
    background-image: url(../img/photo_arthur.jpg);
    /* Set a specific height */
    min-height: 50vh;
    height: 37rem;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .Intro_heart_shape_about .jumbotron {
    background-color: #ffffff !important;
    height: inherit; }
    .Intro_heart_shape_about .jumbotron .home_intro_name {
      font-family: 'Josefin Slab', serif !important; }
    .Intro_heart_shape_about .jumbotron .about_intro_panther {
      margin-top: 4rem; }
    .Intro_heart_shape_about .jumbotron .panther_about_intro_style {
      margin-top: 7rem;
      margin-bottom: 7rem; }
      .Intro_heart_shape_about .jumbotron .panther_about_intro_style .about_cta_style {
        border-radius: 0px;
        margin-top: 1rem; }
        .Intro_heart_shape_about .jumbotron .panther_about_intro_style .about_cta_style .about_cta_style_btn {
          border-radius: 0px; }
  .Intro_heart_shape_about .profile-img {
    width: 20rem;
    z-index: 9000;
    border-bottom: 8px solid #333;
    z-index: 40000; }

/*# sourceMappingURL=homepage_style.css.map */
