
$florida_blue_bg: #1477D7 ;
$fis-bg: #ffffff ;
$harn-bg: #ffffff ;
$run-bg: #ffffff ;
$world-bank-bg: #ffffff ;
$photography-bg: #ffffff ;
$about-bg: #ffffff ;
$run-bg: #ffffff ;


body {

  background-color: $florida_blue_bg ;
}

.folio_intro_style {
  height: inherit;
  background-color: transparent;
  margin-top: 8rem;

  .folio_proj_margin {

    margin-top: 3rem;
    font-family: 'Josefin Sans', sans-serif;
  }

  .jumbotron {

    background-color: transparent;
    color: #ffffff;


    .title_proj_style {
      text-align: left;
      margin-top: 4rem;
      padding-left: 2rem;
    }
  }

.folio_project_intro {

  margin-bottom: 5rem;
  margin-top: 5rem;
  padding-bottom: 6rem;
  padding-right: none;
  padding-left: none;

  .container-fluid {

    padding-left: none;
    padding-right: none;
  }

 }
}

.folio_intro_style_harn {
  height: inherit;
  background-color: transparent;
  margin-top: 1rem;

  .folio_proj_margin {

    margin-top: 1rem;
  }

  .jumbotron {

    background-color: transparent;
    color: #ffffff;


    .title_proj_style {
      text-align: left;
      margin-top: 2rem;
      padding-left: 2rem;
      font-family: 'Josefin Sans', sans-serif;
    }
  }

.folio_project_intro {

  margin-bottom: 5rem;
  margin-top: 5rem;
  padding-bottom: 6rem;
  padding-right: none;
  padding-left: none;

  .container-fluid {

    padding-left: none;
    padding-right: none;
  }

 }
}


.folio_section_highlight {

  margin-top: 3rem;
  width: 100%;

  img {

    display: inline-block;
    vertical-align: middle;
    width: 100vw;
    height: auto;
  }

  .project-paws-piece-mb {
      // background-image: url(../img/MWE-FL-BLUE-Perspective-3.jpg);
      background-size: cover;
      width: 100%;
      margin-bottom: 4rem !important;
    }
}
