

.intro_panther {

  background-color: #ffffff !important;
  height: inherit;
  padding-top: 5rem;

  .intro_parent_style {

    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  .intro_space_style {

  }

}

.portfolio_panther {

  background-color: #32CD32 ;
  height: inherit;
  margin-bottom: auto;
  margin-top: auto;

  .portfolio_paw_row_container {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  .portfolio_paws {
    height: 20rem;
  }
}

.Intro_heart_shape {

  margin-top: auto;
  margin-bottom: auto;
  background-color: #ffffff !important;

  .profile-img {
    width: 305px;
    height: 305px;
    z-index: 9000;
    border-bottom: 8px solid #333;
    z-index: 40000;
}
}

.jumbotron-fluid {

  background-color: #ffffff !important;
}
