

.intro_panther {

  background-color: #ffffff !important;
  height: inherit;
  padding-top: 5rem;
  background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

  .intro_parent_style {

    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  .intro_space_style {

  }

}


.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  .parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px);
 }
}

.P_height {

  height: inherit;
}

.portfolio_panther {

  background-color: #32CD32 ;
  height: inherit;
  margin-bottom: auto;
  margin-top: auto;

  .portfolio_paw_row_container {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  .portfolio_paws {
    height: 20rem;
  }
}

.Intro_heart_shape {


  background-color: #ffffff !important;
  height: inherit;

  .jumbotron {

    background-color: #ffffff !important;
    height: inherit;

    .about_intro_panther {

      margin-top: 4rem;
    }

    .panther_about_intro_style {

      margin-top: 7rem;
      margin-bottom: 7rem;
    }
  }

  .profile-img {

    width: 25rem;
    z-index: 9000;
    border-bottom: 8px solid #333;
    z-index: 40000;

 }

}
