

.intro_panther {

  background-color: #ffffff !important;
  height: inherit;
  padding-top: 5rem;

  .intro_parent_style {

    padding-top: 15rem;
    padding-bottom: 15rem;
  }

  .intro_space_style {

  }

}


.jumbotron-fluid {

  background-color: #ffffff !important;
}
